<h2 class="govuk-heading-m">Contact us</h2>
<address class="govuk-body">
  <a href="mailto:info@doggettsfarm.com">info@doggettsfarm.com</a>
</address>
<address class="govuk-body">
  D.W. Squier Ltd<br>
  Doggetts, Doggetts Chase, Rochford, Essex<br>
  SS4 3RN<br>
</address>
