<%= render partial: "shared/breadcrumbs" %>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Caravan storage</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" id="secure-caravan-storage-at-reasonable-prices">Secure caravan storage at reasonable prices</h2>

      <p class="govuk-inset-text">Our caravan storage is now full. Check back here to find when we have space available again.</p>

      <p class="govuk-body">We can store your caravan or camper, with covered and outdoor spots available.</p>

      <p class="govuk-body">All of our van parking is behind security barriers and covered by CCTV.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render partial: "shared/address_side" %>
    </div>
  </div>
</main>
