<%= render partial: "shared/breadcrumbs" %>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Container storage</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" id="secure-container-storage-at-reasonable-prices">Secure container storage at
        reasonable prices</h2>

      <p class="govuk-body">Shipping containers are an ideal storage solution. They are weather-resistant and durable.
        Why not rent one to store long term supplies for your business, or perhaps to clear out space in your garage,
        loft or shed.</p>

      <p class="govuk-body">Talk to us about discounts for up-front payment.</p>

      <p class="govuk-body">We currently have several 20’ containers available and can obtain 40’ containers on
        request. Please get in touch if you have specific requirements.</p>

      <p class="govuk-body">Contact <a href="mailto:info@doggettsfarm.com">info@doggettsfarm.com</a> to find out
        current prices and availability.</p>

    </div>
    <div class="govuk-grid-column-one-third">
      <%= render partial: "shared/address_side" %>
    </div>
  </div>

</main>
