<%= render partial: "shared/breadcrumbs" %>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Logs for sale</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Seasoned, hardwood logs for sale at a reasonable price. Split and ready to go!</p>

      <p class="govuk-body">Free delivery to Rochford and surrounding areas available.</p>

      <p class="govuk-body">Contact <a href="mailto:info@doggettsfarm.com">info@doggettsfarm.com</a> to find out current prices and availability.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render partial: "shared/address_side" %>
    </div>
  </div>
</main>
