<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">The Doggetts Pod</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        The Doggetts Pod is a pop-up take-away cafe selling hot and cold drinks, snacks, cakes and ice cream.
      </p>
      <h2 class="govuk-heading-l">
        Opening times
      </h2>
      <p class="govuk-body">
        We're open on Sundays between 10am and 4pm, weather permitting.
      </p>
      <p class="govuk-body">
        Any changes will be published on <a href="https://www.facebook.com/Doggettsfarm/">our Facebook page</a>.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="https://www.facebook.com/Doggettsfarm/">
        <%= image_tag "pod_1.webp", alt: "we're open from 10 til 4 on Sundays, weather permitting" %>
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Getting here
      </h2>
      <p class="govuk-body">
        You can't get all the way to the pod by car. Lots of people walk and exercise on the chase, especially at
        weekends, and adding cars to the mix is just not safe.
      </p>
      <p class="govuk-body">
        If you need to use the car, we suggest parking at one of <a
          href="https://www.rochford.gov.uk/parking-and-travel/car-parks/car-parks-rochford">Rochford's car parks</a>
        and having a pleasant walk down Doggetts Chase. You'll find the pod about halfway down.
      </p>
      <%= image_tag "biscuits_1.webp", alt: "a selection of snacks including iced animal biscuits" %>
      <h2 class="govuk-heading-l">
        How to pay
      </h2>
      <p class="govuk-body">
        We prefer contactless, but also accept cash.
      </p>
      <h2 class="govuk-heading-l">
        We're always asked
      </h2>
      <p class="govuk-body">
        Sorry, we do not have toilet facilities.
      </p>
      <h2 class="govuk-heading-l">
        What are the alpacas called?</h2>
      <p class="govuk-body">
        One of them's definitely called Alan. He's the one who always seems to be on the other side of the fence from
        where he should be.
      </p>
      <%= image_tag "red_pod.jpg", alt: "a red trailer (the pod) with an open hatch revealing a selection of confectionery, a coffee machine, and a smiling woman" %>
    </div>
  </div>


</main>
